.nav-wrapper {
    padding: 0 10px;
}
.main-body {
    padding: 30px 0;
    min-height: calc(100vh - 64px);
}
.materialboxed-image {
    max-height: 200px;
    object-fit: cover;
}
.card .card-content {
    min-height: 80px;
}
